.squares {
    display: flex;
}
.squareFrameWork {
    margin: 45px 10px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    box-shadow: -1px 2px 4px 1px rgba(99, 96, 96, 0.933);
    transition: all 0.3s ease-out;
    position: relative;
    background-color: rgb(41, 38, 38);
    color: #fff;
    border: 3px solid #fff;
    overflow-y: scroll;
    display: block;
}
.squareFrameWork:hover {
    margin-top: 35px;
}
.squareFrameWork h2 {
    font-weight: 400;
    font-size: 28px;
}
.squareFrameWork p {
    font-size: 14px;
    padding: 0px 2px;
}
.squareFrameWork img {
    width: 100px;
}
.logoReact {
    width: 100px;
    animation: rotateReact 5s infinite linear;
}
.logoAngular {
    animation: floatFrameWork 2s infinite linear;
}
.logoVue {
    animation: floatFrameWork 2s infinite linear;
}

@keyframes rotateReact {
    100% { transform: rotate(360deg); }
}

@keyframes floatFrameWork {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 12px); }
    to   { transform: translate(0, -0px); }    
}